.counter {
    display:inline-block;
    width: 18rem;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.display{
    width: 50%;
    align-self: center;
    margin: 0 auto; 
    margin-top: 10%;
    margin-bottom: 3%;
    float: none; 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.circle {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top:0;
    margin-top: 3%;
    margin-right: 5%;
    background-color: #32CD32;
    border-radius: 50%;
    align-self: right;
  }